body{
	text-align: center;
}
 form {
    text-align: center;
    }

h3 {
	margin-top: 0px;
}

p {
	word-wrap: break-word;
}

th{
	text-align: center;
}

.log{

	text-align: left;
}

#title{
	margin-bottom: 50px;
}

button[name="start"]{
	margin-top: 30px;
	margin-bottom: 30px;
}